<h2>About Boulder</h2>

<p>We live in lovely Boulder, Colorado about a 45 minute drive from the
  Denver International Airport (DIA). If you need directions from DIA to Boulder,
  click <%= link_to "here", "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=FXkNYAIdBs7C-SG1iQByZdQOPg%3BFZbLXwIdAqa9-Sk_64sI63dshzFhtt2T9vIP4A%3BFYqUYgId7rK5-SnTr40nTo1rhzFYgBugfDs5yA&q=Denver+International+Airport,+Pe%C3%B1a+Boulevard,+Denver,+CO+to+Boulder+Colorado&aq=t&sll=37.0625,-95.677068&sspn=45.332616,92.724609&ie=UTF8&z=11&saddr=Denver+International+Airport,+Pe%C3%B1a+Boulevard,+Denver,+CO&daddr=39.83247,-105.01171+to:Boulder+Colorado&via=1", :target => "_blank" %>
  .  If you are wondering where we live in Boulder, click
<%=link_to('here', "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=910+37th+Street+boulder&aq=&sll=37.0625,-95.677068&sspn=45.332616,92.724609&ie=UTF8&hq=&hnear=910+37th+St,+Boulder,+Colorado+80303&ll=40.004114,-105.246277&spn=0.021532,0.045276&z=15", :target => '_blank') %>.
</p>

<p>The ceremony will be held in Eben G Fine park just west of downtown Boulder.  For a Google
Map of where the park is located click
<%= link_to "here", "http://maps.google.com/maps?ie=UTF8&q=eben+g+fine+park+boulder&fb=1&gl=us&hq=eben+g+fine+park+boulder&hnear=eben+g+fine+park+boulder&cid=0,0,1734769588359784876&ll=40.013778,-105.294986&spn=0.01604,0.045276&z=15", :target => "_blank" %>
</p>

<p>If you are driving to the park, click
  <%= link_to "here", "http://maps.google.com/maps?f=d&source=s_d&saddr=910+37th+Street,+Boulder,+CO&daddr=40.01459,-105.27166+to:Unknown+road&hl=en&geocode=FRFqYgIdzxG6-SnJSrgMv-1rhzHBgZ7vFb4WbA%3BFf6SYgIdlK65-SlfRjfLLexrhzF6GirpB2rNNg%3BFZyLYgIdGFO5-Q&gl=us&mra=dme&mrsp=2&sz=14&via=1&sll=40.010795,-105.27152&sspn=0.032081,0.090551&ie=UTF8&z=14", :target => "_blank" %>

  for directions to the parking lot from our house.
</p>


<p> If you are looking for a place to stay, please check out the following hotels. We have not
  booked any "wedding blocks" for the wedding due to a low number of out of town guests but these places
  should have rooms available.</p>

<ul>
  <li>
    <%= link_to "Boulder University Inn", "http://www.boulderuniversityinn.com/", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Best Western Golden Buff Lodge", "http://book.bestwestern.com/bestwestern/productInfo.do?propertyCode=06004&cm_mmc=GooglePlaces-_-BW-_-CO-_-06004", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "Marriot Courtyard Boulder", "http://www.marriott.com/hotels/travel/denbd-courtyard-boulder/", :target => "_blank" %>
  </li>
  <li>
    <%= link_to "America's Best Value Inn and Suites", "http://www.americasbestvalueinn.com/bestv.cfm?idp=1668", :target => "_blank" %>
  </li>
</ul>

<p> If you are looking for some "local" things to do while you are in town, please check out
  <%= link_to "the downtown Boulder site", "http://www.boulderdowntown.com/", :target => "_blank" %>.</p>

<p>There is plenty to do here in Boulder so if you don't find what you are looking for or you have questions
  about where a hotel is in Boulder,
  please drop us an email and let us know what you are looking for and we will give you some
  suggestions.</p>

<%= link_to 'Back', root_path %>