<h1 class='center'>Welcome to Heather and Mike's Wedding site.</h1>
<p>
  The day is getting closer.  Here are some highlights that you need to know about:
  <ul>
    <li>
      Ceremony is at 1030am at Eben G Fine Park in Boulder.
      <%= link_to "Here", "http://maps.google.com/maps?f=d&source=s_d&saddr=910+37th+Street,+Boulder,+CO&daddr=40.01459,-105.27166+to:Unknown+road&hl=en&geocode=FRFqYgIdzxG6-SnJSrgMv-1rhzHBgZ7vFb4WbA%3BFf6SYgIdlK65-SlfRjfLLexrhzF6GirpB2rNNg%3BFZyLYgIdGFO5-Q&gl=us&mra=dme&mrsp=2&sz=14&via=1&sll=40.010795,-105.27152&sspn=0.032081,0.090551&ie=UTF8&z=14", :target => "_blank" %>
      are directions from our house to the parking lot.
    </li>
    <li>
      Brunch will be served immediately after the ceremony in the park.
    </li>
    <li>
      There will be a open house at
      <%= link_to('our place in Boulder', "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=910+37th+Street+boulder&aq=&sll=37.0625,-95.677068&sspn=45.332616,92.724609&ie=UTF8&hq=&hnear=910+37th+St,+Boulder,+Colorado+80303&ll=40.004114,-105.246277&spn=0.021532,0.045276&z=15", :target => '_blank') %>
      starting at 5pm. We'll have food, local beer
      and wine.
    </li>
  </ul>
</p>

<p>
  Please let us know if you will be
  coming by submitting an RSVP <%= link_to "here", new_rsvp_path %>.</p>

<p>
  For more information about getting to Boulder, things to do in Boulder, where the
  ceremony will be held or
  some hotels for you to stay in, click
  <%= link_to('here', '/boulder') %>.
</p>

<p>
  For more information about the evening BBQ get together, click
  <%= link_to('here', '/bbq') %>.
</p>

<p>
  If you are so inclined to give a gift or are wondering how we are going to spend our honeymoon, click
  <%= link_to('here', '/honeymoon') %>.
</p>
