<%= form_for(@rsvp) do |f| %>
    <% if @rsvp.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

          <ul>
            <% @rsvp.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :names %>
      <br/>
      <%= f.text_field :names %>
    </div>
    <p>Are you coming to the wedding?</p>
    <div class="field">
      <%= f.radio_button :attending, 1 %>
      <%= f.label :attending_1, "will be joining in the fun!" %>
    </div>
    <div class="field">
      <%= f.radio_button :attending, 0 %>
      <%= f.label :attending_0, "unfortunately must decline" %>
    </div>
    <p>How much fun are you going to have?</p>
    <div class="field">
      <%= f.radio_button :level_of_participation, 1 %>
      <%= f.label :level_of_participation_1, 'attend the ceremony' %>
    </div>
    <div class="field">
      <%= f.radio_button :level_of_participation, 2 %>
      <%= f.label :level_of_participation_2, 'attend the afternoon potluck' %>
    </div>
    <div class="field">
      <%= f.radio_button :level_of_participation, 3 %>
      <%= f.label :level_of_participation_3, 'attend both' %>
    </div>
    <div class="actions">
      <%= f.submit 'Send RSVP'  %>
    </div>
<% end %>
