<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :names %><br />
    <%= f.text_field :names %>
  </div>
  <div class="field">
    <%= f.label :attending %><br />
    <%= f.check_box :attending %>
  </div>
  <div class="field">
    <%= f.label :level_of_participation %><br />
    <%= f.text_field :level_of_participation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
