<p id="notice"><%= notice %></p>

<p>
  <b>Names:</b>
  <%= @rsvp.names %>
</p>

<p>
  <b>Attending:</b>
  <%= @rsvp.attending %>
</p>

<p>
  <b>Level of participation:</b>
  <%= @rsvp.level_of_participation %>
</p>


<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
